<header class="main-header" :class="{'main-header--sticky': headerIsSticky}">
   <div class="container-fluid">
      <div class="main-header__content">
         <div class="main-header__menu-toggle" @click="airMenuShow = !airMenuShow">
            <div class="menu-toggle header-toggle" :class="{ 'menu-toggle--open': airMenuShow }">
               <span class="menu-toggle__line"></span>
               <span class="menu-toggle__line"></span>
               <span class="menu-toggle__line"></span>
            </div>
         </div>

         <div class="logo-block main-header__logo">
            <a href="{{ base_url }}">
               <img 
                  src="https://cms.abpx.kz{{ site_second_logo.path }}" 
                  class="logo-block__img" 
                  alt="Exclusive Qurylys"
               >
               <img 
                  src="https://cms.abpx.kz{{ site_logo.path }}" 
                  class="logo-block__img logo-block__img--dark" 
                  alt="Exclusive Qurylys"
               >
            </a>
         </div>

         <div class="navigate main-header__navigate">
            <nav class="navigate__block">
               <a href="#home" class="navigate__link">{{ translate['main_page'] }}</a>
               <a href="#about-project" class="navigate__link">{{ translate['about_of_project'] }}</a>
               <a href="#advantages" class="navigate__link">{{ translate['advantages'] }}</a>
               <a href="#appartaments" class="navigate__link">{{ translate['flats'] }}</a>
               <a href="#building-steps" class="navigate__link">{{ translate['building'] }}</a>
               <a href="#about-company" class="navigate__link">{{ translate['about_of_company'] }}</a>
               <a href="#contacts" class="navigate__link">{{ translate['contacts'] }}</a>
            </nav>
         </div>
         
         <div class="main-contact main-header__contact">
            <div class="main-contact__lang-switcher lang-switcher">
               {% if lang == 'kk' %}
                  <a href="{{ base_url }}" class="lang-switcher__link">RU</a>
               {% else %}
                  <a href="{{ base_url }}kk" class="lang-switcher__link">KZ</a>
               {% endif %}
            </div>

            <div class="main-contact__block">

               <a href="tel:{{ site_phone }}" onclick="" class="main-contact__phone">
                  <img class="desctop" src="https://cms.abpx.kz/storage/uploads/2022/12/01/6388830b4cf1cicon-phone-1-1.svg" >
                  <img 
                     src="https://cms.abpx.kz/storage/uploads/2022/12/01/6388830b4cf1cicon-phone-1-1.svg" 
                     class="mobile" 
                     alt="{{ translate['leave'] }} {{ translate['application'] }}"
                  >
                  <span>{{ site_phone }}</span>
               </a>

               <button 
                  class="main-contact__callback-link callback-link"
                  @click="callbackModalShow = !callbackModalShow"
               >
                  <span class="callback-link__text">
                     {{ translate['leave'] }} {{ translate['application'] }} 
                  </span>
                  <img 
                     src="https://cms.abpx.kz/storage/uploads/2022/12/01/6388830b4cf1cicon-phone-1-1.svg" 
                     class="callback-link__icon" 
                     alt="{{ translate['leave'] }} {{ translate['application'] }}"
                  >
               </button>

               <a href="tel:{{ site_phone }}" class="main-contact__mobile">
                  <img src="{{ base_url }}assets/img/icons/phone.svg" alt="">
               </a>

            </div>

         </div>
      </div>
   </div>
</header>