<div class="air-menu air-menu__container" @click="airMenuShow = false">
    <div class="air-menu__list">
        <a 
            href="#" 
            class="air-menu__item"
        >{{ translate['main_page'] }}</a>
        <a 
            href="#about-project" 
            class="air-menu__item"
        >{{ translate['about_of_project'] }}</a>
        <a 
            href="#advantages" 
            class="air-menu__item"
        >{{ translate['advantages'] }}</a>
        <a 
            href="#appartaments" 
            class="air-menu__item"
        >{{ translate['flats'] }}</a>
        <a 
            href="#building-steps" 
            class="air-menu__item"
        >{{ translate['building'] }}</a>
        <a 
            href="#about-company" 
            class="air-menu__item"
        >{{ translate['about_of_company'] }}</a>
        <a 
            href="#contacts" 
            class="air-menu__item"
        >{{ translate['contacts'] }}</a>
    </div>

    <a href="#appartaments" class="btn btn--gradient">
        {{ translate['select_flat'] }}
    </a>
</div>