<!-- Modal -->
<div class="modal modal--hidden" id="callback-modal">
    <div class="modal__dialog modal__dialog--center">
        <div class="modal__content">
            <div class="modal__body">

                <button class="modal__btn-close" data-modal="#callback-modal">
                    <svg class="icon modal__icon-close">
                        <use xlink:href="./assets/symbol.svg?v=1#icon-close"></use>
                    </svg>
                </button>

                <div class="section-title callback-h__title">
                    <h2 class="section-title__h2">
                       {{ translate['leave'] }}<br>
                       <strong>{{ translate['order'] }}</strong>
                    </h2>
                </div>

                <form class="callback-h__form" action="#">
                    <div class="input-group callback-h__group">
                       <label class="callback-h__label" for="modalFormName">{{ translate['name'] }}</label>
                       <input 
                          type="text" 
                          class="input-group__input" 
                          id="modalFormName" 
                          name="name" 
                          fieldname="Имя"
                       >
                    </div>
     
                    <div class="input-group callback-h__group">
                       <label class="callback-h__label" for="modalFormPhone">{{ translate['phone'] }}</label>
                       <input 
                          type="text" 
                          class="input-group__input" 
                          id="modalFormPhone" 
                          name="phone" 
                          fieldname="Телефон" 
                          required="required"
                       >
                    </div>
     
                    <div class="input-group callback-h__group callback-h__button-group">
                       <button 
                          class="btn btn--black callback-h__btn" 
                          onclick="frontend.form(this); return false"
                       >
                          {{ translate['call_back_me'] }}
                       </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal__shadow" data-modal="#callback-modal"></div>
</div>